{{!-- template-lint-disable no-bare-strings  --}}

<h2>Objectives</h2>

<div class="o-layout">
  <div class="o-layout__item u-1/2">
    <ul>
      <li>Have context of the translation</li>
      <li>DRY but flexible</li>
    </ul>
  </div>
  <div class="o-layout__item u-1/2">
  </div>
</div>
