.c-form {
  &__field {
    margin-bottom: spacing(small);
  }

  &__hint,
  &__input,
  &__label {
    display: block;
  }

  &__hint {
    font-size: 80%;
  }

  &__input {
    font-family: inherit;
    line-height: 1.63;
    padding: 0 6px;
    width: 100%;
  }

  &__label {
    font-weight: 700;
    margin-bottom: spacing(tiny);
  }
}
