{{!-- template-lint-disable no-bare-strings  --}}

<div class="c-contact">
  {{#if @hireMe}}
    <h2>Hire me!</h2>
  {{/if}}
  
  <ul>
    <li>
      <a href="mailto:manuel@funkensturm.de" target="_blank" rel="noopener noreferrer">
        manuel@funkensturm.de
      </a>
    </li>
    <li>
      <a href="https://twitter.com/fsmanuel" target="_blank" rel="noopener noreferrer">
        @fsmanuel
      </a>
    </li>
    <li>
      <a href="https://github.com/fsmanuel" target="_blank" rel="noopener noreferrer">
        github.com/fsmanuel
      </a>
    </li>
    <li>
      <a href="https://github.com/funkensturm" target="_blank" rel="noopener noreferrer">
        github.com/funkensturm
      </a>
    </li>
  </ul>
</div>
