{{!-- template-lint-disable no-bare-strings  --}}

<h2>File Structure (Context)</h2>

<div class="o-layout">
  <div class="o-layout__item u-1/2">
    <Utils::HighlightJs @lang="shell">
$ tree translations/ -L 2 --dirsfirst
translations/
├── components
│   ├── de.yaml
│   └── en.yaml
├── forms
│   ├── de.yaml
│   └── en.yaml
├── routes
│   ├── de.yaml
│   └── en.yaml
├── tables
│   ├── de.yaml
│   └── en.yaml
├── de.yaml
└── en.yaml
    </Utils::HighlightJs>
  </div>
  <div class="o-layout__item u-1/2">
  </div>
</div>
